.main {
    text-align: center;
}

.container {
    margin: 2rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.td,
.th {
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem;
}

.th {
    background-color: #0077cc;
    color: white;
}

@media (max-width: 960px) {

    .td,
    .th {
        padding: 0.2rem;
    }
}